---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>lhocke.dev</title>
  </head>
  <body class="bg-paper text-ink font-sans">
    <h1 class="font-serif text-4xl">Scaffold OK</h1>
  </body>
</html>
